<section class="mt-150">
    <div class="container">
        <div class="text-center mb-5">
            <img src="../../../../../../assets/images/acheivement.png" style="margin-bottom:24px;">
            <h1 class="title-blue">
                عن مؤسسة سعود بن راشد المعلا
                <br />
                للأعمال الخيرية و الانسانية
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let itemWebsiteAboutUsDept of listWebsiteAboutUsDept ; let index = index" [ngClass]="index%2 ? 'mb-100': ''">
                <div class="about-box-3">
                    <div class="gates-item">
                        <h5 class="text-28-white">{{itemWebsiteAboutUsDept?.titleEn}}</h5>
                        <p class="text-20 white">
                           {{itemWebsiteAboutUsDept?.DeptBodyEn ? itemWebsiteAboutUsDept?.DeptBodyEn : ' هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم
                            إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي،
                            هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي'
}}
                        </p>
                    </div>

                </div>
            </div>
        </div>




    </div>
</section>


<section class="mt-150">
    <div class="container">
        <div class="text-center mb-5">
            <img src="../../../../../../assets/images/acheivement.png" style="margin-bottom:24px;">
            <h1 class="title-blue mb-4">
                {{websiteAboutUs?.titleEn}}

            </h1>
            <p class="text-20">
                {{websiteAboutUs?.bodyEn}}
            </p>
        </div>



    </div>
</section>



<section class="mt-150">
    <div class="container">
        <div class="row">
            <ng-container
                *ngFor="let itemindexAboutUsBranchs of listWebsiteAboutUsBranchs ;let indexAboutUsBranchs =index">
                <div class="col-lg-6 mt-150" [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-5':'order-lg-1'">
                    <img [src]="itemindexAboutUsBranchs?.imagePath ? itemindexAboutUsBranchs?.imagePath:'../../../../../../assets/images/about 1.png'"
                        class="w-100 img-shadow mb-3">
                </div>

                <div class="col-lg-6 mt-150" [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-1':'order-lg-5'">
                    <h1 class="blue">{{itemindexAboutUsBranchs?.titleEn}}</h1>
                    <p class="text-22">
                        {{itemindexAboutUsBranchs?.bodyEn}}
                    </p>
                    <a [href]="itemindexAboutUsBranchs?.url" target="_blank" >
                        <button class="btn btn-blue btn-wide"
                        >More...</button>
                    </a>
                </div>
            </ng-container>

        </div>
    </div>
</section>