<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

<section class="inner-header-service">
    <div class="container">
       <div class="row">
           <div class="col-lg-6 offset-lg-3">
               <div class="inner-blur">
                   <h1 class="title-48-cyan">الخدمات</h1>
                   <h3 class="text-white">مؤسسة سعود بن راشد المعلا للأعمال الخيرية و الانسانية</h3>
               </div>
           </div>
       </div>
    </div>



</section>



<section class="Campaigns">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card campain-container">
                    <img src="../../../../../../assets/images/thumb-img-1.png" class="card-img-top" />
                    <div class="card-body">
                        <h2 class="blue bold">مشروع النقل</h2>
                        <p class="text-22">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ</p>
                      
                        <div class="d-flex" style="gap:8px;">
                            <button (click)="goDetails(1)" class="btn btn-blue w-100">

                                تسجيل طلب باص
                            </button>
                            
                            <button href="#" class="btn btn-more-grey w-100">

                                More...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
