<section class="police-header">
  <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
              <div class="inner-blur">
                  <h1 class="title-48-cyan">{{ 'HEADER_TITLE' | translate }}</h1>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="police-content">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="section-title">{{ 'WELCOME_TITLE' | translate }}</h2>
              <ul>
                  <li class="content-text">{{ 'WELCOME_TEXT' | translate }}</li>
                  <li class="content-text">{{ 'PRIVACY_TEXT_1' | translate }}</li>
              </ul>
              <h2 class="section-title">{{ 'PRIVACY_TITLE' | translate }}</h2>
              <ul>
                  <li>
                      <h2>{{ 'COLLECTION_USE_TITLE' | translate }}</h2>
                      <ul>
                          <li>{{ 'SERVER_CAPTURES_IP' | translate }}</li>
                          <li>
                              {{ 'IP_ADDRESS_INFO' | translate }}
                              <ul>
                                  <li>{{ 'IP_ADDRESS_DESC_1' | translate }}</li>
                                  <li>{{ 'IP_ADDRESS_DESC_2' | translate }}</li>
                                  <li>{{ 'IP_ADDRESS_DESC_3' | translate }}</li>
                              </ul>
                          </li>
                          <li>
                              {{ 'IP_USAGE' | translate }}
                              <ul>
                                  <li>{{ 'IP_USAGE_DESC_1' | translate }}</li>
                                  <li>{{ 'IP_USAGE_DESC_2' | translate }}</li>
                                  <li>{{ 'IP_USAGE_DESC_3' | translate }}</li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <h2>{{ 'COOKIES_USAGE_TITLE' | translate }}</h2>
                      <ul>
                          <li>{{ 'COOKIES_USAGE_DESC' | translate }}</li>
                          <li>
                              {{ 'COOKIE_INFO' | translate }}
                              <ul>
                                  <li>{{ 'COOKIE_DESC_1' | translate }}</li>
                                  <li>{{ 'COOKIE_DESC_2' | translate }}</li>
                              </ul>
                          </li>
                          <li>
                              {{ 'COOKIE_PRIVACY' | translate }}
                              <ul>
                                  <li>{{ 'COOKIE_PRIVACY_DESC_1' | translate }}</li>
                                  <li>{{ 'COOKIE_PRIVACY_DESC_2' | translate }}</li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <h2>{{ 'SECURE_TRANSMISSION_TITLE' | translate }}</h2>
                      <ul>
                          <li>{{ 'SECURE_TRANSMISSION_DESC' | translate }}</li>
                      </ul>
                  </li>
                  <li>
                      <h2>{{ 'PERSONAL_INFO_TITLE' | translate }}</h2>
                      <ul>
                          <li>{{ 'PERSONAL_INFO_DESC_1' | translate }}</li>
                          <li>{{ 'PERSONAL_INFO_DESC_2' | translate }}</li>
                          <li>{{ 'PERSONAL_INFO_DESC_3' | translate }}</li>
                          <li>{{ 'PERSONAL_INFO_DESC_4' | translate }}</li>
                      </ul>
                  </li>
                  <li>
                      <h2>{{ 'USER_RIGHTS_TITLE' | translate }}</h2>
                      <ul>
                          <li>{{ 'USER_RIGHTS_DESC' | translate }}</li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
