<section class="police-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="inner-blur">
            <h1 class="title-48-cyan">{{ 'HEADER_TITLE' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="police-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title">{{ 'WELCOME_TITLE' | translate }}</h2>
          <ul>
            <li class="content-text">{{ 'WELCOME_TEXT' | translate }}</li>
            <li class="content-text">{{ 'PRIVACY_TEXT_1' | translate }}</li>
          </ul>
          <h2 class="section-title">{{ 'PRIVACY_TITLE' | translate }}</h2>
          <p class="content-text">
            <strong>{{ 'COLLECTION_INFO' | translate }}</strong> {{ 'COLLECTION_DETAIL' | translate }}
          </p>
          <p class="content-text">
            <strong>{{ 'COOKIES_TITLE' | translate }}</strong> {{ 'COOKIES_DETAIL' | translate }}
          </p>
          <p class="content-text">
            <strong>{{ 'SECURE_TRANSMISSIONS' | translate }}</strong> {{ 'SECURE_TRANSMISSIONS_DETAIL' | translate }}
          </p>
          <p class="content-text">
            <strong>{{ 'PERSONAL_INFO_PROTECTION' | translate }}</strong> {{ 'PERSONAL_INFO_PROTECTION_DETAIL' | translate }}
          </p>
          <p class="content-text">
            {{ 'MODIFY_DATA' | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>
  