<section class="mt-150">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="member-item">
                    <div class="member-item-caption">
                        <div class="member-item-caption-details">
                            <h3 class="white">الاسم</h3>
                            <h4 class="white">رئيس مجلس أمناء مؤسسة سعود بن راشد المعلا للأعمال الخيرية والإنسانية</h4>
                            <p class="white">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>