<section class="inner-header-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="inner-blur">
                    <h1 class="title-48-cyan">القاعات و المجالس</h1>
                    <h3 class="text-white">مؤسسة سعود بن راشد المعلا للأعمال الخيرية و الانسانية</h3>
                </div>
            </div>
        </div>
    </div>



</section>



<section class="about">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="title-blue">قاعات الحفلات</h1>
            </div>
            <div class="col-lg-6">
                <img src="../../../../../../assets/images/about-img.png" class="w-100 img-shadow" style="margin-bottom:24px;">
            </div>

            <div class="col-lg-6">
                <p class="text-22">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="Campaigns">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="title-blue">القاعات المتاحة</h1>
            </div>
            <div class="col-lg-4" *ngFor="let hall of hallsList ; let i = index">
                <div class="card campain-container">
                    <img [src]="hall?.imagePath" class="card-img-top">
                    <div class="card-body">
                        <h5 class="text-24-black">{{hall?.hallNameEn}}</h5>
                        <p> {{hall?.bodyEn}}</p>
                        <div style="padding:16px 0;">
                            <div class="d-flex" style="justify-content: space-between;">
                                <p class="text-14-blue" style="margin-bottom: 0;">Required Amount</p>
                                <p class="text-14-black" style="margin-bottom: 0;">100,000 AED</p>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end" style="gap:8px;">

                            <button href="#" class="btn btn-blue" style="padding-left:20px; padding-right:20px;">

                                More...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="title-blue">المجالس</h1>
            </div>
            <div class="col-lg-6">
                <img src="../../../../../../assets/images/about-img.png" class="w-100 img-shadow" style="margin-bottom:24px;">
            </div>

            <div class="col-lg-6">
                <p class="text-22">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="Campaigns">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="title-blue">المجالس المتاحة</h1>
            </div>
            <div class="col-lg-4" *ngFor="let council of councilsList ; let i = index">
                <div class="card campain-container">
                    <img [src]="council?.imagePath" class="card-img-top">
                    <div class="card-body">
                        <h5 class="text-24-black">{{council?.hallNameEn}}</h5>
                        <p> {{council?.bodyEn}}</p>
                        
                        <div class="d-flex justify-content-end" style="gap:8px;">

                            <button href="#" class="btn btn-blue" style="padding-left:20px; padding-right:20px;">

                                More...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
