
<section class="police-header">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="inner-blur">
                    <h1 class="title-48-cyan">الشروط والأحكام</h1>
                </div>
            </div>
        </div>
    </div>



</section>
<section class="police-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Welcome to the Saud bin Rashid Al Mualla Foundation</h2>
        <ul>        
        <li class="content-text">
          We welcome visitors to the website of the Saud bin Rashid Al Mualla Charitable and Humanitarian Est., and we emphasize that you read the following terms of use carefully before entering the website, as they are terms and conditions that apply to you once you use the website.
        </li>
        <li class="content-text">
          Your use of this website and the materials and services available on or through it (collectively referred to as the “Website”) is subject to the terms and conditions (“Terms of Use”) in addition to the laws of the United Arab Emirates. Please read the Terms of Use carefully before entering the website, as your entry is considered your prior approval of these terms and conditions without regard to how to access the electronic portal of the Saud bin Rashid Al Mualla Charitable and Humanitarian Est. for Charitable Works.
        </li>
        <li class="content-text">
          All intellectual property rights, printing and publishing of information and electronic portal marks are protected in accordance with the laws regulating this in the United Arab Emirates, and the Saud bin Rashid Al Mualla Charitable and Humanitarian Est. is the sole and exclusive owner thereof.
        </li>
        <li class="content-text">
          No user has the right to publish any materials on the electronic portal of the website of the Saud bin Rashid Al Mualla Charitable and Humanitarian Est. by any user, and the user bears full responsibility for doing so.
        </li>
        <li class="content-text">
          The terms of use for the electronic portal of the Saud bin Rashid Al Mualla Foundation for Charitable and Humanitarian Works shall be governed and interpreted in accordance with the laws of the United Arab Emirates.
        </li>
        <li class="content-text">
          The user agrees not to send by e-mail or download through the electronic services of the Saud bin Rashid Al Mualla Foundation for Charitable and Humanitarian Works any software viruses or other with the intent to damage files, data, software, devices and server systems or communication equipment, or to use any content that he is not authorized to use in whole or in part, and that he does not have the right to publish or reproduce it, or that includes a violation or infringement of the intellectual property rights of others.
        </li>
        <li class="content-text">
          The user agrees that he will not impersonate any person, or identify himself in a false manner when using the services of the electronic donation portal of the association, and he will not use another user's account unless authorized to do so by that user.
        </li>
        <li class="content-text">
          The user agrees that he will not use the electronic services of the association to make copies, reproduce, publish or sell the services in whole or in part for commercial purposes without written permission from the Saud bin Rashid Al Mualla Foundation for Charitable and Humanitarian Works. It will not use the services in a manner that violates any applicable national or international laws, or violates any Internet protocols.
        </li>
        <li class="content-text">
          Saud bin Rashid Al Mualla Charitable and Humanitarian Est. is not responsible for any technical malfunctions or malfunctions affecting equipment or software of any kind, or for loss or failure to secure a connection to the network, or incompleteness, error or delay in transmission, nor is it responsible for any direct or indirect damages due to visiting or using the portal or loss of services or loss of income or benefits caused by a virus that may infect computer equipment or smart devices used to access the portal.
        </li>
        <li class="content-text">
          The association has the right to cancel, terminate or suspend access to use the portal and the website for any reason and without prior notice, whether by stating reasons for that or by reserving them in accordance with the principle of privacy and confidentiality.
        </li>
        <li class="content-text">
          Saud bin Rashid Al Mualla Charitable and Humanitarian Est. reserves the right to update and change these terms and conditions at any time.
        </li>
    </ul>
            </div>
        </div>
    </div>
</section>