

<section class="police-header">
    <div class="container-fluid">
        <div class="row d-flex justify-content-start">
          <div class="col-3">
              <div class="inner-blur">
                <h1 class="title-48-cyan">{{ 'TERMS_TITLE' | translate }}</h1>
              </div>
          </div>
      </div>
  </div>



</section>

<section class="police-content">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="section-title">{{ 'TERMS_WELCOME' | translate }}</h2>
              <ul>
                  <li class="content-text">{{ 'TERMS_INTRO' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_USAGE' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_INTELLECTUAL' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_NO_POST' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_GOVERN' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_NO_VIRUS' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_NO_IMPERSONATE' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_NO_COPY' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_NO_FAULT' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_CANCEL' | translate }}</li>
                  <li class="content-text">{{ 'TERMS_UPDATE' | translate }}</li>
              </ul>
          </div>
      </div>
  </div>
</section>
